* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: chocolate;
}

input, label {
    display: block;
}

label {
    color: blue;
}

input {
    width: 100%;
}

.submit {
    width: 20%;
    margin: 15 20 33 21;
    background-color: burlywood;
    border-radius: 5px;
    border-color: burlywood ;
}

form {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid rgb(31, 215, 28);
    padding: 15px;
}

.g-recaptcha {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.signature {
    display: flex;
    justify-content: center;
    width: 100%;
}
.author {
    min-width: 300px;
    max-width: 500px;
    width: 400px;
    text-align: right;
    color: red;
    font-size: x-small;
    padding: 5px;
}

.author span {
    background-color: yellow;
    display: inline-block;
}

.by {
    text-align: center;
    position: relative;
    vertical-align: middle;
    width: 50%;
    color: red;
    font-size: x-small;
}

  .by span {
    display: inline-block;
  }

  .title1 {
    text-align: center;
    font-size: small;
    padding: 10px;
  }